@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../node_modules/reset-css/sass/reset';
@import './variables.scss';
@import './mixins';

.wrapper {
  font-family: $primaryFont;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
  a {
    text-decoration: none;
    color: $textColor;
  }
}
[class*='__container'] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-color: #fff;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 25px;

    .header-logo {
      position: absolute;
      left: 16px;
      path {
        transition: 0.1s;
      }
      &:hover path {
        fill: $primaryColor;
      }
    }

    .header-menu {
      width: 100%;

      .menu-body {
        display: flex;
        column-gap: 30px;
        justify-content: center;
      }

      .menu__link {
        font-size: 15px;
        line-height: 9.333%;
        letter-spacing: 0.2px;

        &:hover {
          color: #fd8558;
        }
      }
    }
  }
}

.main {
  flex: 1 1 auto;

  .banner {
    background: url(../img/banner/banner_background.png) bottom no-repeat;
    margin-bottom: 85px;
    &__container {
      padding-top: 175px;
      padding-bottom: 323px;

      position: relative;

      .banner__title {
        text-align: center;

        h1 {
          color: #fff;
          max-width: 632px;
          margin: 0 auto;
          font-size: 70px;
          font-style: normal;
          font-weight: 400;
          line-height: 122%;
          margin-bottom: 40px;
        }

        .banner-links {
          display: flex;
          justify-content: center;
          .banner__link {
            @include btn;
            margin-right: 28px;

            &:last-child {
              margin: 0;
              background-color: transparent;
              outline: 2px solid $primaryColor;
              outline-offset: -2px;
            }
            &:hover {
              background-color: $hoverColor;
              outline: none;
            }
          }
        }
      }
    }
  }

  .about {
    .about__container {
      position: relative;
      padding-left: 65px;
      margin-bottom: 195px;

      > span {
        position: absolute;
        color: #f7f7f7;
        font-size: 150px;
        line-height: 96.667%;
        letter-spacing: 0.1px;
        top: -25px;
        left: -65px;
      }
      padding-top: 145px;
      display: grid;
      grid-template-areas:
        'title text'
        'motto motto';
      column-gap: 105px;
      row-gap: 58px;

      .about__title {
        grid-area: title;
        p {
          @include topTitle;
          margin-bottom: 33px;
        }
        h2 {
          max-width: 480px;
          color: #333;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;
        }
      }
      .about-text {
        grid-area: text;
        h3 {
          color: $textColor;
          font-size: 18px;
          line-height: 155.556%;
          text-transform: capitalize;
          margin-bottom: 11px;
        }
        p {
          color: #999;
          font-size: 15px;
          line-height: 170%;
        }
      }
      .motto {
        grid-area: motto;
        display: flex;
        align-items: center;
        padding-left: 113px - 65px;

        img {
          margin-right: 65px;
        }

        .text {
          max-width: 387px;
          color: #222;
          font-family: Poppins;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 173.077%;
          margin-bottom: 90px;
          span {
            color: $primaryColor;
            font-size: 26px;
            font-style: italic;
            font-weight: 400;
            line-height: calc(45px / 26px) * 100%;
          }
        }

        &__author {
          margin-bottom: 20px;
          color: #222;
          font-size: 20px;
        }

        .author__info {
          color: #cacaca;
          font-size: 12px;
          line-height: 180%;
          letter-spacing: 1.8px;
        }
      }
    }
  }

  .features {
    margin-bottom: 60px;

    &-row {
      display: flex;
      justify-content: space-around;

      .box {
        text-align: center;
        max-width: 337px;

        &-icon {
          margin-bottom: 20px;
        }

        &-title {
          color: #333;
          font-size: 24px;
          line-height: 160%;
          margin-bottom: 17px;
        }

        &-text {
          color: #999;
          font-size: 15px;
          line-height: 170%;
        }
      }
    }
  }

  .decor {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;

    .line {
      width: 1410px;
      height: 2px;
      background: #f5f5f5;
      position: relative;

      svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        z-index: 10;
      }

      &::after {
        content: '';
        position: absolute;
        width: 178px;
        height: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
      }
    }
  }

  .works {
    &__container {
      .works-info {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 150px;
      }
      p {
        @include topTitle;
      }
      h2 {
        max-width: 312px;
        color: #333;
        font-size: 32px;
        line-height: 120%;
      }
      .works__link {
        @include btn;
      }
    }
  }

  .skills {
    margin-bottom: 150px;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 72px;

      .skills-info {
        p {
          @include topTitle;
        }

        .skills__title {
          color: #222;
          font-size: 32px;
          line-height: 120%;
          max-width: 388px;
          margin-bottom: 15px;
        }

        .skills__text {
          max-width: 456px;
          color: #999;
          font-size: 14px;
          line-height: 182.143%;
        }
      }

      .skills-progressbars {
        display: flex;
        flex-direction: column;

        .progressbar-box {
          margin-bottom: 45px;

          .progressbar__title {
            color: #222;
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 12px;
          }

          .progressbar {
            width: 600px;
            height: 10px;
            background: #eee;
            position: relative;
            .progress {
              position: absolute;
              height: 100%;
              background: linear-gradient(90deg, #ff4803 0%, #ffae35 59.74%);
              text-align: right;
              span {
                position: absolute;
                right: 0;
                top: -31px;
                color: #999;
                font-size: 15px;
                line-height: 156%;
                &::after {
                  content: '%';
                }
              }
            }
          }
        }
      }
    }
  }

  .team {
    margin-bottom: 115px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .team__title {
        color: #222;
        text-align: center;
        font-size: 32px;
        line-height: 130%;
        text-transform: capitalize;
        margin-bottom: 40px;

        p {
          @include topTitle;
          margin-bottom: 30px;
        }
      }

      .team-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 80px;

        .team-box {
          width: 350px;
          height: 350px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:nth-child(1) {
            background: url('../img/team/1.png') center no-repeat;
          }
          &:nth-child(2) {
            background: url('../img/team/2.png') center no-repeat;
          }
          &:nth-child(3) {
            background: url('../img/team/3.png') center no-repeat;
          }
          &:nth-child(4) {
            background: url('../img/team/4.png') center no-repeat;
          }
          &:nth-child(5) {
            background: url('../img/team/5.png') center no-repeat;
          }
          &:nth-child(6) {
            background: url('../img/team/6.png') center no-repeat;
          }

          .team-box__name {
            color: #fff;
            font-size: 24px;
            line-height: 125%;
            text-transform: capitalize;
          }

          .team-box__job {
            color: #fcfcfc;
            font-size: 14px;
            line-height: 170%;
          }
        }
      }
      .team__link {
        @include btn;
        margin: 0 auto;
      }
    }
  }

  .testimonals {
    background-color: #3a0f73;
    margin-bottom: 120px;

    .testimonals__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 70px;
    }
    .testimonals__title {
      color: rgba(170, 170, 170, 0.1);
      font-size: 200px;
      line-height: 110%;
      margin-bottom: 45px;
    }
    .testimonals-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .box__text {
        color: #fff;
        text-align: center;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.2px;
        max-width: 824px;
        margin-bottom: 65px;
      }
      .box-author {
        display: flex;
        align-items: center;
        margin-bottom: 215px;

        .author__img {
          max-width: 60px;
          margin-right: 15px;
        }
        .author-info {
          color: #fff;
          font-size: 14px;
          line-height: 160%;
        }
      }
    }
  }

  .news {
    margin-bottom: 115px;

    .news__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .news__title {
        color: #222;
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 25px;

        p {
          @include topTitle;
          text-align: center;
          margin-bottom: 45px;
        }
      }

      .news-row {
        display: flex;
        column-gap: 30px;

        .news-box {
          padding: 10px;
          border-radius: 5px;
          transition: 0.1s;
          max-width: 360px;
          max-height: 435px;

          &:nth-child(1) {
            .news__image {
              background: url('../img/news/1.jpg') center no-repeat;
              background-size: cover;
            }
          }
          &:nth-child(2) {
            .news__image {
              background: url('../img/news/2.jpg') center no-repeat;
              background-size: cover;
            }
          }
          &:nth-child(3) {
            .news__image {
              background: url('../img/news/3.jpg') center no-repeat;
              background-size: cover;
            }
          }

          .news__image {
            width: 360px;
            height: 243px;
            margin-bottom: 20px;
          }

          .box-info {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .cath {
              margin-right: 30px;

              span {
                display: inline-block;
                margin-right: 5px;
                color: $primaryColor;
              }
            }

            .date {
              position: relative;
              color: #999;
              font-size: 14px;
              font-weight: 400;
              line-height: 150%;

              &:after {
                content: '';
                width: 5px;
                height: 5px;
                background-color: #dfdede;
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          .box__title {
            color: #222;
            font-size: 24px;
            line-height: 137.5%;
            margin-bottom: 35px;
            max-width: 326px;
          }

          .actions {
            .box__link {
              color: $primaryColor;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          &:hover {
            box-shadow: 0px 1px 10px #33333350;
            cursor: pointer;
          }
        }
      }
    }
  }

  .connect {
    .connect__container {
      display: flex;
      column-gap: 130px;
    }
    .info {
      display: flex;
      flex-direction: column;
      row-gap: 45px;
      .adress,
      .information {
        p {
          color: rgba(34, 34, 34, 0.4);
          font-size: 14px;
          line-height: 142.857%;
          letter-spacing: 2px;
        }
        color: #222;
        font-size: 24px;
        line-height: 137.5%;
        max-width: 293px;
      }
    }
    .connect-form {
      display: grid;
      width: 100%;
      gap: 30px;
      grid-template-areas:
        'name email'
        'text text'
        'send send';
      margin-bottom: 120px;

      input,
      textarea {
        padding: 18px 40px;
        border: 1px solid #eee;
        font-family: Poppins;
        background: #fff;
        &:focus {
          outline: none;
        }
      }
      .name {
        grid-area: name;
      }
      .email {
        grid-area: email;
      }
      textarea {
        grid-area: text;
        min-width: 705px;
        max-width: 813px;

        min-height: 128px;
      }
      input[type='submit'] {
        grid-area: send;
        @include btn;
        cursor: pointer;
        max-width: 192px;
      }
    }
  }
}

.footer {
  .footer__container {
    padding: 90px 150px 80px 150px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    column-gap: 170px;
    .footer-wrapper {
      color: #fff;
      display: flex;
      justify-content: space-between;
      min-width: 100%;
      margin-bottom: 70px;

      .footer__logo {
        font-size: 40px;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 27px;
      }

      .footer__contacts {
        span,
        a {
          color: rgba(255, 255, 255, 0.6);
          display: inline-block;
          margin-right: 10px;
          &:last-child {
            margin: 0;
          }
        }

        a:hover {
          text-decoration: underline;
        }
      }
      .footer-menu {
        display: flex;
        column-gap: 125px;
        .footer-menu-column {
          .column__title {
            font-size: 24px;
            line-height: 130%;
            margin-bottom: 20px;
          }

          li {
            margin-bottom: 10px;
            &:last-child {
              margin: 0;
            }
            .menu__link {
              color: #bababa;
              font-size: 14px;
              line-height: 140%;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .footer-rights {
      color: #bababa;
      text-align: center;
      font-size: 15px;
      line-height: 200%;
      letter-spacing: 0.3px;
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

::-webkit-input-placeholder {
  color: #999;
  font-family: Poppins;
}
::-moz-placeholder {
  color: #999;
  font-family: Poppins;
}
:-ms-input-placeholder {
  color: #999;
  font-family: Poppins;
}
:-moz-placeholder {
  color: #999;
  font-family: Poppins;
}
